name: output test
on: workflow_dispatch
jobs:
  output_test:
    runs-on: ubuntu-latest
    outputs:
      result: output1
      cal: output2
    steps:
      - name: test steps
        run: echo Hello World

  output_test2:
    needs: output_test
    runs-on: ubuntu-latest
    steps:
      - name: test steps
        run: |
          echo ${{ needs.output_test.outputs.output1 }}
          echo ${{ needs.output_test.outputs.output2 }}
